@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --dark_cyan: hsl(185, 75%, 39%);
  --very_dark_desaturated_blue: hsl(229, 23%, 23%);
  --dark_grayish_blue: hsl(227, 10%, 46%);

  --dark_gray: hsl(0, 0%, 59%);
}

body {
  background-image: url("images/bg-pattern-top.svg");
  background-image: url("images/bg-pattern-bottom.svg");
  background-repeat: repeat;
  background-color: var(--dark_cyan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  height: 380px;
  margin: 0;
  background-color: white;
  border-radius: 20px;
}
.top-image {
  background-image: url(images/bg-pattern-card.svg);
  width: 350px;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}
.image {
  position: relative;
  width: 350px;
  bottom: 55px;
}

.pp {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
}
.name-container {
  font-size: 18px;
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.name {
  color: var(--very_dark_desaturated_blue);
}
.age {
  color: var(--dark_grayish_blue);
  font-weight: lighter;
}
.city {
  position: relative;
  text-align: center;
  bottom: 80px;
}
hr {
  position: relative;
  bottom: 70px;
  border: none;
  height: 1px;
  background-color: #ccc;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 70px;
  font-size: 18px;
  color: var(--very_dark_desaturated_blue);
  font-weight: bolder;
}
.fol-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper span {
  font-size: 12px;
  font-weight: lighter;
  color: var(--dark_gray);
}
.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
